<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KeraLua" version="1.4.1" targetFramework="net48" />
  <package id="log4net" version="3.0.3" targetFramework="net48" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net471" requireReinstallation="true" />
  <package id="NLua" version="1.7.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>