<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppJCE.Properties.MujSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AppJCE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppJCE.Properties.MujSettings>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdresaIP" serializeAs="String">
                <value>10.1.15.110</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
        </AppJCE.Properties.MujSettings>
        <AppJCE.Properties.Settings>
            <setting name="AdminHeslo" serializeAs="String">
                <value>boQZ95XRPxi4PgBP/inpgPwS8j8=</value>
            </setting>
            <setting name="CestaPalet" serializeAs="String">
                <value />
            </setting>
            <setting name="CestaKernel" serializeAs="String">
                <value />
            </setting>
            <setting name="KontrolaCesty" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorMax" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="SubColorMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SubColorMax" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AktivniPaleta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseCuda" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomMin" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="ZoomMax" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="PocetPrumeru" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PSAGain" serializeAs="String">
                <value />
            </setting>
            <setting name="PSAOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="PSBGain" serializeAs="String">
                <value />
            </setting>
            <setting name="PSBOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="CestaMyLua" serializeAs="String">
                <value />
            </setting>
        </AppJCE.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="KeraLua" publicKeyToken="6a194c04b9c89217" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
